spring:
  profiles:
    active: ${PROFILE}
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  endpoint:
    health:
      show-details: always

server:
  error:
    include-message: always
  servlet:
    contextPath: /api

springdoc:
  swagger-ui:
    path: /swagger-ui
  version: 1.0.1

